<br>
<h1>Hi There...</h1>
<h4>Esse é meu primeiro projeto em Rails</h4>
<h4>
  Esse projeto foi feito a partir do curso 
  <%= link_to "Learn Ruby on Rails - Full Course", 
      "https://youtu.be/fmyvWz5TUWg?si=lJp7QsZrRKI1m7AQ", 
      target: "_blank", rel: "noopener" %> 
  no Youtube
</h4>
